* {box-sizing: border-box;}
form {
  position: absolute;
  top:100px;
  left:50px;
  width: 300px;
  margin: 0 auto;
  height: 42px;
}
input {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA;
}
button {
	
  background-image: url("C:\Users\KSU\Лабы\4 сем\курс\front\css\search.jpg");
  background-size: 42px 42px;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
contect:"";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
